:root{
    --body:white;
    --font_small:orange;
    --font_big:orange;
}
.darktheme{
    --body:black;
    --font_small:grey;
    --font_big:orangered;
}
#icon{
    padding-left: 90%;
    cursor: pointer;
}
.change{
    width: 100%;
    height: 100%;
    background-color: var(--body);
}
.change h1{
    padding-top: 250px;
    padding-left: 30px;
    font-family:sans-serif;
    color:var(--font_big);
    font-size: 70px;
}
.change h3{
    padding-top: 10px;
   padding-left: 50px;
    font-family: sans-serif;
    font-size: 30px;
    color:var(--font_small);
    
}